# Python
__pycache__/
*.py[cod]
venv/
.env

# MageAI
mage_data/
.mage_data/

# DVC & Data
/data/*
!/data/*.dvc
.dvc/cache/
.dvc/tmp/

# IDE
.vscode/
.idea/
.DS_Store

# Ignore DVC cache
.dvc/cache
mage_pipeline/.dvc/cache
**/.dvc/cache
