# Library Dasar Mage (Hapus mage-ai, pandas, numpy dari sini agar tidak konflik)

# Library Tambahan Project Kita
mlflow==2.14.0
psycopg2-binary
scikit-learn
openpyxl
boto3
matplotlib
seaborn

# Kunci versi Evidently & Pydantic agar stabil
evidently==0.6.0
pydantic==2.6.0

python-dotenv
sqlalchemy
dvc
dvc-s3